.header__line {
  background-image: url("../../../images/Line.png");
  max-width: 880px;
  opacity: 0.7;
  border: 1px solid #545454;
}

@media (max-width: 580px) {
    .header__line {
        margin: 0px;
    }
}