.footer__copyright {
  display: block;
}

@media (max-width: 879px) {
  .footer__copyright {
    max-width: 580px;
    margin: auto;
  }
}

@media (max-width: 580px) {
  .footer__copyright {
    max-width: 282px;
  }
}
