@import url('../vendor/normalize.css');
@import url('../fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/logo/__mesto/logo__mesto.css');
@import url('../blocks/header/__line/header__line.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/main/main.css');
@import url('../blocks/profile/__title/profile__title.css');
@import url('../blocks/profile/__text/profile__text.css');
@import url('../blocks/button/button.css');
@import url('../blocks/profile/__item-name/profile__item-name.css');
@import url('../blocks/profile/__form-reduction/profile__form-reduction.css');
@import url('../blocks/gallery/gallery.css');
@import url('../blocks/gallery/__lists/gallery__lists.css');
@import url('../blocks/gallery/__list/gallery__list.css');
@import url('../blocks/gallery/__list-wrapper/gallery__list-wrapper.css');
@import url('../blocks/gallery/__list-title/gallery__list-title.css');
@import url('../blocks/gallery/__list-image/gallery__list-image.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
@import url('../blocks/footer/__copyright-text/footer__copyright-text.css');
@import url('../blocks/profile/__wrapper/profile__wrapper.css');
@import url('../blocks/profile/__name-button/profile__name-button.css');
@import url('../blocks/profile/__add-button/profile__add-button.css');
@import url('../blocks/profile/__reduction-button/profile__reduction-button.css');
@import url('../blocks/gallery/__like-button/gallery__like-button.css');
@import url('../blocks/body/body.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/__banner/popup__banner.css');
@import url('../blocks/popup/__close-button/popup__close-button.css');
@import url('../blocks/popup/__title/popup__title.css');
@import url('../blocks/popup/__formfield/popup__formfield.css');
@import url('../blocks/popup/__wrapper/popup__wrapper.css');
@import url('../blocks/popup/__formfield-input/popup__formfield-input.css');
@import url('../blocks/popup/__save-button/popup__save-button.css');
@import url('../blocks/popup/__save-button-text/popup__save-button-text.css');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');


/* .popup { 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup_visible {
    display: flex;
}

.popup__window {
    background-color: #fff;
    padding: 113px 307px 106px 102px;
    border-radius: 15px;
    max-width: 1100px;
    position: relative;
    box-sizing: border-box;
}

.popup__close-button {
    position: absolute;
    right: 50px;
    top: 28px;
    background-image: url(./../images/close_btn.svg);
    width: 33px;
    height: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.popup__heading {
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
}

.popup__text {
    font-size: 16px;
    line-height: 26px;
}

.header__button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    text-decoration: underline;
    margin-left: auto;
    margin-right: 30px;
    padding-top: 12px;
}*/