.profile__reduction-button {
  background-image: url("../../../images/Edit\ Button.svg");
  width: 24px;
  height: 24px;
  background-color: black;
  background-size: contain;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-left: 18px;
}

.profile__reduction-button:hover {
  cursor: pointer;
  opacity: .6;
  border: none;
}

@media (max-width: 580px) {
  .profile__reduction-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
