.header {
    display: flex;
    justify-content: flex-start;
    max-width: 880px;
    margin: 45px auto 35px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding-bottom: 40px;
}

@media (max-width: 900px) {
    .header {
        margin: 30px auto 40px;
        padding-bottom: 30px;
    }
}